@use 'styles/constants/colors' as color;

.selector {
  display: flex;
  gap: 8px;

  .button {
    height: 24px;
    padding: 0 10px;
    background-color: color.$WHITE;
    border: 1px solid rgba(color.$GRAY6, 30%);
    border-radius: 14px;
  }

  .selected {
    color: color.$WHITE;
    background-color: color.$BLUE6;
    border: 1px solid rgba($color: color.$WHITE, $alpha: 0%);
  }
}
